.card{
    border: 2px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 252, 253);
}
.imgLista{
    max-width: 20rem;
    height: auto;
}

.producDescription{
    font-size: medium    ;
}